<h1>Codeplay</h1>
<h3>Boas vindas ao sistema de gestão de cursos e aulas</h3>
<%= link_to "Cursos", courses_url %>
<%= link_to "Professores", teachers_url %>

<h3>Cursos Disponíveis</h3>

<% @courses.each do |course|%>
<h4><%= course.name %></h4>
<%end%>