<h1>Codeplay</h1>
<h3>Boas vindas ao sistema de gestão de cursos e aulas</h3>

<h3>Cursos Disponíveis</h3>

<% @courses.each do |course|%>
<h1><%= link_to course.name %></h1>
<p><%= course.description%></p>
<p>Preço: <span><%= number_to_currency course.price%></span></p>

<%end%>